h1{
    text-align: center;
    color: #10e195;

}
img{
    height: 400px;
    width: 350px;
    margin-left: 40%;
}
<p>{
    text-align: center;
    color: green ;
}
body{
    background-color: #f5f5f5
}